@font-face{
	font-family:'Lato';	
	src:local("Lato"),url(./font/lato400.woff) format("woff")}
	
	@font-face{

		src:local("Lato Black"),local("Lato-Black"),url(./font/lato400.woff) format("woff")}

			
			

		
		
		@media (max-width: 480px){.msg{font-size:15px}
	}
		
		@media (max-width: 480px){#prompt-bg{-webkit-border-radius:0 !important;
			border-radius:0 !important}
			
			@media (max-width: 720px){.extra-link{display:none}
		}
			
